
body{
    font-family: helvetica;
    font-size: 1em;
    
    
}

h1{

  font-size: 1.3em;
  line-height: 1.8em;


}

h2{
  font-family: open-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left ;
  font-size: 1em;
  padding: 0.8em 0;
  margin: 2em 0 0 0;
  border-bottom: 2px solid rgba(31, 26, 26, 0.048);


}

.navbar {
    overflow: auto;
    background-color:rgba(158, 137, 137, 0.473);
 padding: 0 16px 0 0;
  }
  
  .navbar a {
    float: right;
    padding: 9px 9px 0;
    color: rgb(85, 76, 76);
    display: none;
  }
  
  .navbar a:hover {
    color: rgb(0, 0, 0);
  }
  
header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(150, 125, 125, 0.774);
}

.promo{

    background-color: #ddd;
    margin: 0 0;
    padding: 0.5em;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;

}



.logo{
    font-family: philosopher,sans-serif;
    font-weight: 700;
    font-size: 3em;
    font-style: normal;
    text-align: center;
    margin: 0 ;
    padding: 5px 0 20px 0;
  background-color: rgba(158, 137, 137, 0.473);


}

.logo a{
    color: rgb(37, 27, 27);
    text-decoration: none;
}

.menu-item{
    display: block;
    margin: 0 0.25em;
    font-family: poiret-one;
    font-weight: 900;
    font-style: normal;
    
}

.menu-item a:hover{
    color: rgb(150, 47, 47);
}

.menu-item a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.topnav {
  background-color: rgba(255, 255, 255, 0.26);

  width: 100%;
  text-align: left; 
  overflow: auto;
  display: none;
}
.topnav.responsive {
  display: inline-block;
}

.topnav a {
  color: rgb(32, 30, 30);
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {

  border-bottom: 2px solid rgb(31, 26, 26);

}



.hamberger{
  background-color: rgba(255, 255, 255, 0.308);

  float:right;
  width:100% ;
  padding: 4px;
}

.hamberger a{

  text-decoration: none;
  color: rgb(32, 30, 30);
  font-size: 1.3em;
}

.fa-bars{
  font-size: 1.5em;
  color: rgb(32, 30, 30);
  text-align: left;
  margin: 0  0.2em 0  0.8em;
}


.fa-user{
  margin: 0 0.6em 0.3em 0.6em ;
  float:right;

}
.fa-shopping-bag{
  float:right;
  margin: 0 0 0  0.2em;


}

.masthead {
  margin:0 0 40px 0;
  text-align: center;
  background-image: linear-gradient(rgba(151, 110, 110, 0.452), rgba(138, 112, 112, 0.5)),url('8.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgba(15, 15, 15, 0.808);
  height: 700px;
}

.hero-text {

  margin: 10px;
  text-align: bottom;
  color: rgb(7, 7, 7);
  padding: 20px;
}

.hero-text p {
line-height: 1.4em;
}

.hero-text h1 {
  line-height: 3em;
  padding: 350px 0 0 0;
  }
  

.hero-text1 {

  margin: 15px;
  padding: 20px 20px;
  text-align: right ;
  color: rgb(7, 7, 7);
}
.hero-text1 p {
line-height: 1.4em;
padding: 20px 0 20px 0;


}
  
.categories{
  font-size: 1em;
  padding: 1em 0;
  text-align: left ;
}

.categories li{
  display: inline-block;
}

.categories a {
  background-color: rgba(136, 136, 136, 0.13);
  color: rgb(36, 34, 34);
  text-decoration: none;
  font-family: open-sans,sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 0.8em;
  line-height: 3em;
  width: 100%;
  height: 100%;
  padding: 0.5em 2em;
  border: none;
  border-radius: 20px;

}

.categories a:hover {

  background-color: rgba(78, 76, 76, 0.24);
  color: rgb(255, 255, 255);

}


.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 30px;
  background-color: rgb(255, 255, 255)

}

.row p a{
  line-height: 2.3em;
  text-decoration: none;
  color:black;

}


.column {
  padding: 0 4px;
  display: grid;
  grid-gap: 1em;
}

.column img {
  margin-top: 8px;
    vertical-align: middle;
}


.footer-body{

  background-color: rgba(158, 137, 137, 0.473);
  padding: 35px;
  margin: 30px 0 0;
}

.text{

  text-align: left;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  grid-gap: 10px;
  padding: 1em;
  font-size: 11px;
  margin: 0;
}
.text-left{

  text-align: left;

}


.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px 50px 10px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 30px;
  background-color: rgba(190, 190, 190, 0);
  border: 1px solid rgb(26, 25, 25);
  color: rgb(15, 15, 15);
  cursor: pointer;
}

.form-inline button:hover {
  background-color: rgb(27, 27, 27);
  color: white;
}
  

.bottom{
  background-color: rgba(168, 143, 143, 0.712);
  padding: 12px;
}

.text-bottom{

  text-align: left;
  font-size: 12px;
  margin: 0 22px;
  display: inline-block;
}

.social{

  float: right;
  margin: 0 30px 0;

}

.social a{

  color: rgb(17, 17, 17);
  padding: 0 10px 0 0;
  text-decoration: none;

}

.button {
  font-family: josefin-sans;
  font-weight: 300;
  font-style: normal;
  border: 2px solid black;
  outline: 0;
  display: inline-block;
  padding: 17px 118px;
  color: black;
  background-color: rgba(221, 221, 221, 0);
  text-align: center;
  cursor: pointer;
  margin: 12px 0;

}

.button:hover {
  background-color: rgb(27, 27, 27);
  color: white;
}


@media screen and (min-width: 600px) {
  .hamberger{
    display: none;
  }
  
  .topnav {
    width: 100%;
    text-align: center; 
    overflow: auto;
    display: inline-block;

  }
  .topnav a {
    display: inline-block;
  }
 .navbar a {

  display: inline-block;
 }

}

@media screen and (min-width: 600px) {
  .column {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .column {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .prod-img {
    
  }
  
}

@media (max-width: 800px){

  .text{
    grid-template-columns: 1fr ;
    text-align: center;
    grid-gap: 30px;
    font-size: 14px;

  }
  .text-left{
    text-align: center;
  }
  .form-inline{
    display: block;
    text-align: center;
  }

}
